<!DOCTYPE html>

<html>
	<head>

		<title>miniCRUD</title>
		<meta charset="utf-8" />
		<link href="styles/style.css" rel="stylesheet" type="text/css" />

		<script src="../app/angular.min.js"></script>
		<script src="../app/app.js"></script>
		<script src="../app/scripts/controllers/controller.js"></script>
		<script src="../app/scripts/directives/directive.js"></script>
		<script src="../app/scripts/services/service.js"></script>
	
	</head>

	<body ng-app="app">

		<menu></menu>

		<div class="main" ng-controller="resursController">

			<div class="leftContent">
				<h4>Sök resurs:</h4>
				<p><input id="txtFilter" type="text" ng-model="textFilter" /></p>

				<div ng-repeat="out in output | filter:textFilter track by $index">

					<div ng-click="getId(out._id)">{{out.title}}</div>

				</div>
			</div>

			<div class="rightContent">

				<h4>{{singleOutput[0].title}}</h4>
				<p>{{singleOutput[0].example}}</p>

				<div id="commentHideShow" ng-show="showButton" ng-click="showContent=!showContent">Visa/Dölj Kommentarer</div>

				<div class="comments" ng-show="showContent" ng-repeat="comment in singleOutput[0].comments">
				
					<div class="commentName"><strong>{{comment.name}}</strong></div>
					<div class="commentComment">{{comment.comment}}</div>
					<div class="commentDate"><i>{{comment.date}}</i></div>

				</div>

				<div class="resursForm" ng-show="showContent">
			    	
			    	<strong>Kommentera resurs:</strong>
			  		<form action="api/addcomment" method="POST">
			  		
			  			<input type="hidden" value="{{singleOutput[0]._id}}" id="commentId" name="commentId" /><br>
			            <label for="name">Namn:</label><br>
			            <input type="text" id="name" name="name" /><br><br>
			            <label for="addcomment">Kommentar:</label><br>
			            <textarea id="addcomment" name="addcomment"></textarea><br><br>
			        	<input type="submit" value="Lägg till kommentar" /><br>
			    	
			    	</form>
			    	
				</div>
			</div>
		</div>
  
		

	</body>
</html>