body {

    margin: 0px;
    margin-bottom: 100px;

}

menu {

    margin: 0px;
    padding-left: 0px;

}

.leftContent, .rightContent {

    float: left;
    padding: 25px;

}

.leftContent {

    width: 150px;

}

.rightContent {

    width: 60%;

}

p {

    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

h1, h2, h3, h4, h5, h6 {

    margin: 0px;

}

h4 {

    margin-top: 10px;
    margin-bottom: 10px;

}

#txtFilter {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 150px;
    height: 20px;

}

#commentHideShow, #editHideShow {

    border: 2px solid black;
    border-radius: 4px;
    height: 28px;
    width: 200px;
    background-color: white;
    color: black;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;

}

.deleteBTN {

    width: 100px;
    height: 20px;
    color: white;
    border-radius: 3px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    font-family: verdana;

}

input[type=submit] {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 15px;

}

input[type=text] {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 5px;
    width: 200px;
    height: 30px;

}

.addFormContainer textarea {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 200px;

}

.resursMenu {

    cursor: pointer;

}

.resursForm textarea {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100px;

}

.editForm textarea {

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100px;

}

.comments {

    padding: 10px;
    width: 100%;
    font-family: verdana;

}

.comments:nth-child(odd) {

    background-color: white;
    color: black;
    border: 1px solid black;

}

.comments:nth-child(even) {

    background-color: #333;
    color: white;
    border: 1px solid #333;

}

.commentComment {

    padding: 15px;

}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

nav ul li {

    float: left;

}

nav ul li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana;

}

nav ul li a:hover {

    background-color: #111;
    color: white;
    text-decoration: none;

}

nav ul li a:link {

	color: white;

}

nav ul li a:active {
	
	color: white;

}

nav ul li a:visited {

	color: white;

}